.alert{
	margin:2%;
}

.btn-primary.btn-lg.m-3{
    color: white;
	font-weight: lighter;
	text-align: center;
	cursor: pointer;
	background-color:darkred;
	border: 0;
}

.btn-primary.btn-lg.m-3:hover{
	background-color:#50000A;	
}

.btn-primary.btn-lg.m-3:focus{
	box-shadow: 0px 0px 3px #212529;
}

input[type="checkbox"], input[type="radio"]{
	border: 1px solid #212529;
}

input[type="checkbox"]:checked, input[type="radio"]:checked{
	background-color:darkred;
	border: 1px solid #212529;
}

input[type="checkbox"]:focus, input[type="radio"]:focus{
	border: 1px solid #212529;
	box-shadow: 0px 0px 3px #212529;
}


.input-group{
    margin-top: 10px;
}

.input-group.flex-nowrap{
	width: 23%; 
	float: left; 
	margin-right: 2%; /*anche il margine si adatta con la dimensione dello schermo*/
}

#notesDiv{
	/*a differenza degli altri input box della pagina per le info anagrafiche, questo è più largo,
	quindi ha una classe in più con una proprietà in più (la larghezza)*/
	width: 98%;
}

.form-check{
    margin-top: 1.5%;
    width: 23%;
	float: right; /*il checkbox sta sulla destra in entrambe le pagine html*/
}

.btn.btn-primary.btn-lg.m-3.soundSettingsButton{
	/*i pulsanti in soundsettings hanno una larghezza e dei margini diversi, quindi usano una classe in più*/
	float: left;
	margin: 5% !important;
	margin-top: 0px !important;
	margin-bottom: 2% !important;
	width: 40%;
}

.little1, .little2{
	/*in soundsettings i primi due gruppi di input box (i più piccoli) contengono solo oggetti float,
	quindi hanno bisogno di avere una dimensione maggiore di 100% per coprire tutto. Gli oggetti con
	proprietà float non occupano spazio e quindi il div crede di essere vuoto e diventa troppo piccolo*/
	height: 130% !important;
}

.p-3.border.bg-light.little1 .input-group.flex-nowrap{
	width: 31%;
}

.p-3.border.bg-light{
	height: 99%;
	border-radius: 20px;
}

.right-div{
	/*il right div sta a destra*/
	width: 50%;
	float: right;
	margin-bottom: 2%;
}

.right-div .input-group.flex-nowrap{
	/*gli input box all'interno del right div stanno a destra*/
	width: 90%; 
	float: right;
}

.left-div{
	/*il left div sta a sinistra*/
	width: 50%;
	float: left;
}

.left-div .form-check{
	/*normalmente i checkbox hanno width 23% (vedasi sopra), ma dentro al left div devono occupare tutto lo spazio*/
	width: 100%;
}

.referral{
	float:right !important;
	width: 35% !important;
}

.checkboxes{
	margin-top: 5%;
	padding-left: 0%;
}

/*quando la finestra è più piccola di 991 pixel, viene usato questo css*/
@media all and (max-width: 991px) {
	
	/*gli input box ora prendono tutta la riga, come le note*/
	.input-group.flex-nowrap{
		width: 98% !important; 
		float: none; 
		margin-right: 2%;
	}
	
	.right-div{
		/*non sta più a destra, non c'è spazio per fare due colonne quindi vengono impilati verticalmente, 
		quindi tolgo tutti i float*/
		width: 95%;
		float: none;
		margin-bottom: 5%;
	}
	
	.right-div .input-group.flex-nowrap{
		width: 95%; 
		float: none;
	}
	
	.left-div{
		width: 95%;
		float: none;
	}
	
	.p-3.border.bg-light{
		height: 101%;
	}
	
	.form-check{
		/*per evitare che si sovrapponga ad altri oggetti*/
		float: left;
	}
	
	.referral{
		margin-top: 5%;
		float: none !important;
		width: 98% !important;
	}
}