body{
    background-color: #fff;
}

.btn-outline-success{
    float:right;
    border-color: white;
    color: white;
}

.btn-outline-danger{
    float:right;
    border-color: white;
    color: white;
}

.btn-primary{
	border-radius:20px;
	background-color: #80000F;
	border-color: black;
}

.btn-primary:hover{
	background-color: #80000F;
	border-color: black;
}



.darkred{
    background-color: darkred;
    border-color: black;
}

.card{
	float: left; /*fa in modo che tutte le card vengano inpilate a sinistra finchè c'è spazio, poi si va a capo*/
    width: 45%; /*con questa larghezza ce ne vanno sempre almeno 2 di card, finchè lo schermo è abbastanza largo*/
    margin: 1rem; /*margine su tutti i lati*/
    margin-top: 3px; /*solo in alto è diverso*/
    background-color: #212529;
    border-color: darkred;
    box-shadow: 10px 10px 5px gray;
    color: white;
	font-weight: lighter;
	border-radius:5px 30px 5px 30px;
}


.logout{
	margin-left: 2%;
	margin-top:0px;
}

.yourTests{
	float: right;
	margin-left: 2%;
	margin-top:0px;
	border-color: white;
    color: white;
}

.logButtons{
	text-align:right;
	width: 40%;
	margin-left: auto; 
	margin-right: 0;
}

.welcomeMessage{
	color:white;
	margin-top: 7px;
	margin-left: 0; 
	margin-right: auto;
	text-align:center;
	text-decoration: none;
}

.settings{
	float:right;
	margin: 1%;
	color: white;
	margin-left:2%;
}

.rotate{
	transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}

.settings:hover{
	color: white;
}

.rotate:hover{
	transform: rotate(45deg);
    transition: all 0.3s ease-in-out 0s;
}

.navbar-brand{
	width:60%;
	margin-right: 0;
}

.description{
	color:black; 
	padding-bottom: 6rem; 
	margin-bottom: -2rem; 
	font-weight: 400;
}

.descriptionTitle{
	color:black; 
	padding-bottom: 1rem; 
	font-size:70px; 
	font-weight: 400;
}

.settingForm{
	padding: 40px;
    background: #DDD;
    border: 2px solid #000;
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
}

.form-select{
	margin: 2%;
	width: 45%;
	float: left;
}

.input-group.mb-3{
	margin: 2%;
	width: 45%;
	float: left;
}

.input-group.mb-3.notes{
	margin: 2%;
	width: 94%;
	float: left;
}

.input-group-text.link{
	width: 70%;
	display: initial;
	/*da attivare quando ci sarà https
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis;
	//*/
	overflow:scroll; 
	
}

.settingForm.ref .input-group-text.title{
	width:30%;
}