body{
    background-color: #fff;
}

.btn-outline-success{
    float:right;
    margin-top:-2.3rem ; 
    border-color: white; 
    color: white; 
    
}
.btn-outline-danger{
    float:right;
    margin-top:-2.3rem ; 
    border-color: white; 
    color: white; 
    
}
.btn-primary{
    background-color: darkred;
    border-color: black;
    
}

.card{

    width: 48.3%;  
    margin-left:1rem;
    margin-right:1rem;
    height: auto;
    background-color:#212529; ;
    border-color: darkred;
    margin-top: 3px;
    margin-bottom: 1rem;
    box-shadow: 10px 10px 5px gray;
    color:white;
}
