.btn-success{
	float:left;
	margin-top: 4%;
	margin-left: 15%;
	padding: 2%;
	padding-left: 3%;
	padding-right: 3%;

}

.btn-danger{
	float:right;
	margin-top: 4%;
	margin-right: 15%;
	padding: 2%;
	padding-left: 3%;
	padding-right: 3%;
}

.btn-primary{
	margin-left: -75%;
	margin-top: 5%;
}

form {
    padding: 3%;
    background: #DDD;
    border: 2px solid #000;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
}
